<!--
    Web 322: Assignment 1
    Student: Leonel Said Ruiz Navarrete
    ID: 104657184
    Email: lruiz-navarrete@myseneca.ca
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>airbnb - LOGIN</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
    

<body>

<form method="POST" action="/login" >

  <div class="loginClass">

    <h1>LOGIN</h1>
    
    <div id="emailD2">
    <input type="email" placeholder="Email Address" id="emailI2" name="emailI2" >
    </div>

    <div id="passwordD2">
    <input type="password" placeholder="Password" id="passI2" name="passI2" >
    </div>

    <h5>Remember me</h5>
    
    <button type="submit" id="login">Log in</button>

    <div class="errors2">
  {{#each message}}
    <div class="errors">{{this}}</div>
{{/each}}
</div>

    <h5>Forgot password?</h5>
    <h5>Don’t have an account? Sign up</h5>
  </div>

</form>

</body>
</html>