@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This website is meant to demostrate my knowledge aquired during the first weeks in the WEB524 - Summer 2021 course at
    Seneca College.
</p>
    
<h3>About the Developer</h3> 
<p>
    My name is Leonel Said Ruiz Navarrete and I am a Computer Programmig and Analysis student currently in my last year of the program. I have co-op
    experience related to Software Testing and I have strong interest for technology and finances. I enjoy swimming, running
    and exploring new places during my free time.
</p>
