@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Page</h2>
<h3>@ViewBag.Message</h3>

<address>
    1750 Finch Ave E<br />
    Toronto, On, M2H 2N4<br />
    <abbr title="Phone">P:</abbr>
    (647) 587-3487
</address>

<address>
    <strong>Email</strong>   <a href="mailto: lruiz-navarrete@myseneca.ca">lruiz-navarrete@myseneca.ca</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/leonel-navarrete">linkedin.com/in/leonel-navarrete</a>
</address>