@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - lruiz-navarrete</h1>
    <p class="lead">The purpose of this web app is to demostrate the knowledge learned during the first weeks of WEB 524 course.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to this page</h2>
        <p>
            Welcome to my Assignment 1 website, this application has being built using ASP.NET from Microsoft. This page will display 
            multiple attributes of employees and it will be posible to interact and edit the records from the database.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use this  page</h2>
        <p>To see employees records click on Employees from the tab bar menu. To see details from a specific record click on Details right 
        next to Edit. If you wish to edit a record click on Edit. To add a new employee click on Create New.  </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to navigate through the page</h2>
        <p>To navigate through this website, right click on the desired option in the menu tab bar. After that the website will take 
        you to the selected web page. To access functionality within a web page right click in the desired option.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>