<!--
    Web 322: Assignment 1
    Student: Leonel Said Ruiz Navarrete
    ID: 104657184
    Email: lruiz-navarrete@myseneca.ca
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Leo Travels</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>  
        <img src="/img/logo.png" alt="logo" style="max-width:300%">
        <nav>
        <a href="/"> Home </a>
        <a href="/room"> Room Listing </a>
         {{#if user}}
        <a href="/dashboardAdmin"> Dashboard </a>
        <a href="/logout"> Logout </a>
        {{else}}
        <a href="/registration"> Sign Up </a>
        <a href="/login"> Login </a>
        {{/if}}
    </nav>
    </header>
 
    
    
    {{{body}}}
 
    <footer>
        Website created by Leonel Said Ruiz Navarrete.
        <p1><a href="/">Instagram</a></p1>
        <p1><a href="/">Facebook</a></p1>
        <p1><a href="/">About Us</a></p1>
    </footer>

</body>

</html>